.footer{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 20px 20px 20px rgb(118, 102, 102);
    margin-top: 50px;
    width: 100%;
    /* height: 100%; */
}
.image{
    height: 150px;
    width: 150px;
}
.footer-content{
    display: flex;
}